{% load html_filters %}
<div ng-controller="loadoutCtrl" id="builder">







    <div class="form-group">
        <p>
            <h2 ng-if="build.id">
                {{ 'build.title'|ng}}
            </h2>
            <span ng-if="!build.id">
                <input type="text" id="title" class="form-control" ng-model="build.title" name="title" maxlength="150" placeholder="Title">
            </span>
        </p>
        <div class="card-group">
            <div class='card col' talent ng-click="removeTalent(loadout.talent_0)" model="loadout.talent_0"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_1)" model="loadout.talent_1"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_2)" model="loadout.talent_2"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_3)" model="loadout.talent_3"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_4)" model="loadout.talent_4"></div>
        </div>
    </div>
    <div class="form-group">
        <span ng-if="build.id">
            <p>
                {{ 'build.description'|ng}}
            </p>
        </span>
        <span ng-if="!build.id">
            <textarea id="description" class="form-control " ng-model="build.description" name="description" maxlength="500" placeholder="Description"></textarea>
        </span>

    </div>
    <div class="form-group">
        <div class="alert alert-danger" ng-if="errors">
            <p class="margin-0" ng-repeat='error in errors'>
                <i class="fa fa-exclamation-triangle"></i> &nbsp;
                <span ng-bind-html="error">

                </span>
            </p>
        </div>
        <div ng-show="build.id">
            <button class="btn btn-primary" ng-click="copyBuild()"><i class="fa fa-copy"></i>&nbsp; Clone Loadout</button>
        </div>
        <div ng-show="!build.id">

            <button class="btn btn-success" ng-click="saveBuild()"><i class="fa fa-save"></i>&nbsp; Save Loadout</button>
        </div>

    </div>

    <div class="form-group">
        <p>
            <label for="url">Shareable Link</label>
            <input id="url" type="text" disabled ng-model="build_url" class="form-control">
        </p>
        <button ng-if="copy_class" ng-click="copy_url()" class="btn btn-{{ 'copy_class'|ng }} btn-sm" ngclipboard data-clipboard-text="{{ 'build_url'|ng }}">
            <div ng-if="copy_class=='success'">
                <i class="fa fa-thumbs-up"></i> &nbsp;
                Link Copied!
            </div>
            <div ng-if="copy_class!='success'">
                <i class="fa fa-clipboard"></i> &nbsp;
                Copy Link
            </div>
        </button>

    </div>



    <h2 style="margin-top:20px">Battlerites</h2>

    <div class="card-group" ng-controller="champTalentPoolCtrl" champ="{{selected_champ.title}}">
      <section class="card selected-{{ 'talent.selected'|ng }}" talent model="talent" ng-click="talent.selected=toggleTalent(talent)" ng-repeat="talent in talentPool">
      </section>
    </div>

</div>


