{% load html_filters %}
<div ng-controller="loadoutCtrl" ng-init="init()" id="builder">
    <div class="form-group">
        <div ng-if="build.id">
            <h2 class="margin-0">
                {{ 'build.title'|ng}}
            </h2>
            <h3>by
                <span ng-if="build.user">
                    <img class="avatar-circle" src="http://placehold.it/30x30" alt="">
                    {{ 'build.user.username'|ng}}
                </span>

                <span ng-if="!build.user">
                    <img src="/static/brite_builder/img/anon-avatar.jpg" height="30" alt="Avatar" class="avatar-circle">
                    Anonymous
                </span>
            </h3>
            <p>
                {{ 'build.description'|ng}}
            </p>
        </span>
        </div>
        <div class="form-group" ng-if="!build.id">
            <input type="text" id="title" class="form-control" ng-model="build.title" name="title" maxlength="150" placeholder="Title">
        </div>

        <div class="card-group">
            <div class='card col' talent ng-click="removeTalent(loadout.talent_0)" model="loadout.talent_0"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_1)" model="loadout.talent_1"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_2)" model="loadout.talent_2"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_3)" model="loadout.talent_3"></div>
            <div class='card col' talent ng-click="removeTalent(loadout.talent_4)" model="loadout.talent_4"></div>
        </div>
    </div>
    <div ng-if="!build.id" class="form-group">
        <textarea id="description" class="form-control " ng-model="build.description" name="description" maxlength="500" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <div class="btn-group">
            <button ng-show="build.id" class="btn btn-sm" ng-class="{'bg-warning text-light':!build.favorited}" ng-click="favorite()"><i class="fa fa-heart"></i>&nbsp; Favorite<span ng-if="build.favorited">d!</span></button>
            <button ng-show="build.id" class="btn btn-sm btn-primary" ng-click="copyBuild()"><i class="fa fa-copy"></i>&nbsp; Clone Loadout</button>
            <button ng-show="!build.id" class="btn btn-sm btn-success" ng-click="saveBuild()"><i class="fa fa-plus"></i>&nbsp; Save Loadout</button>
        </div>

    </div>

    <div class="form-group">
        <div style="padding-bottom: 1rem">
            <label for="url"><h2 class="margin-0">Share this Loadout</h2></label>
            <input id="url" type="text" disabled ng-model="build_url" class="form-control">
        </div>
        <button ng-if="copy_class" ng-click="copy_url()" class="btn btn-{{ 'copy_class'|ng }} btn-sm" ngclipboard data-clipboard-text="{{ 'build_url'|ng }}">
            <div ng-if="copy_class=='success'">
                <i class="fa fa-thumbs-up"></i> &nbsp;
                Link Copied!
            </div>
            <div ng-if="copy_class!='success'">
                <i class="fa fa-clipboard"></i> &nbsp;
                Copy Link
            </div>
        </button>

    </div>



    <h2 style="margin-top:20px">Battlerites</h2>

    <div class="card-group" ng-controller="champTalentPoolCtrl" champ="{{selected_champ.title}}">
      <section class="card selected-{{ 'talent.selected'|ng }}" talent model="talent" ng-click="talent.selected=toggleTalent(talent)" ng-repeat="talent in talentPool">
      </section>
    </div>

</div>


