{% load html_filters %}
<div class="talent {{ 'clean(model.type.title)'|ng }} {{ '$parent.is_empty(model)'|ng }}" title="{{'model.spell.title'|ng}} - {{'model.title'|ng}}" data-talent-id="{{'model.id'|ng}}">
  <div class="card-header no-limit-{{ 'model.no_limit'|ng }}">
    <div class="badge badge-dark">
      {{ "model.spell.button"|ng }}
    </div>
    <h6 class="badge badge-secondary">
      <div ng-if="model.type">
        {{"model.type.title"|ng}}
      </div>
      <div ng-if="!model.type">
        None
      </div>
    </h6>
    <span ng-if="model.title" class="spell-icon {{'model.spell.button.toLowerCase()'|ng}}" style="background-image:url('{{"'/static/spells/sheets/'+clean(model.spell.champ.title) + '.jpg'"|ng}}')" alt="{{'model.spell.title'|ng}}">&nbsp;</span>
    <div class="badge badge-light" title="Battlerite affects the EX version of {{ 'model.spell.title'|ng }} " ng-if="model.modifies_ex">
      <i class="fa fa-bolt"></i>
      EX
    </div>
    <h4 class="card-title margin-0">
      <span ng-if="model.title">
        {{ "model.title"|ng }}
      </span>
      <span ng-if="!model.title">
        Empty
      </span>
    </h4>
    {% if request.user.is_staff %}
    <a target="_blank" ng-if="model" style="position:absolute; top: 0; left:0" href="/admin/talents/talent/{{ 'model.id'|ng }}/change/" class="btn btn-info btn-sm">
      Edit
    </a>
    {% endif %}
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <p ng-if="model" ng-bind-html="model.description"></p>
    <p ng-if="!model" style="text-align:center;">Choose a Battlerite</p>
  </div>
</div>

