{% load html_filters %}
<div class="jumbotron">
  <h1 class="display-3">Welcome to Counter.GG</h1>
  <p class="lead">This is a tool to save and share Battlerite Loadouts</p>
  <hr class="my-4">
  <p>Select a Champion to get started</p>
  <p class="lead">
    {% for champ in champs %}
    <a title="{{champ}}" href="/{{champ.title|champLink}}" class="champ-icon {{champ.title|champLink}}">&nbsp;
    </a>
    {% endfor %}
  </p>
</div>

<h2>News</h2>
{% for item in news %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title margin-0">
            {{item.title}}

        </h2>
    </div>
    <div class="card-body">
        <time>
            {{item.updated}}
        </time>
        <p>
            {{item.html|safe}}
        </p>
    </div>
</div>
{% endfor %}
