{% extends 'site/base.html' %}
{% load html_filters %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="margin-top-0">{{user}} <span class="h4"> - The Builder</span></h1>
  <div class="row">
    <div class="col-lg-6">
      <h2>BuildSets</h2>
    </div>
    <div class="col-lg-6">
      <h2>Loadouts</h2>
      <div class="card-deck" id="profile-loadouts">
        {% for build in builds%}
        <div class="card mini-loadout champ-{{build.loadout.talent_0..champ_Link}}">
          <div class="card-body">
            <spam class="card-title margin-0">
              {{build.title}}
            </spam>
            {{build.description}}

            <ul class="battlerites">
              {% for talent in build.loadout.all %}
              <li style="background-image:url(/static/spells/img/{{talent.champ_link}}/{{talent.spell_link}}.png)"
                  data-toggle="tooltip"
                  data-html="true"
                  title="{{talent.title}} - {{talent.description}}"
                  class="{{talent.type.title|lower}}" >
                <span class="title">{{talent.title}}</span>
                {% if talent.modifies_ex %}
                <div class="badge badge-light float-right"><i class="fa fa-bolt"></i>&nbsp;EX</div>
                {% endif %}
              </li>
              {% endfor %}
              <!--<li style="background-image:url(/static/spells/img/{{build.loadout.talent_1.champ_link}}/{{build.loadout.talent_1.spell_link}}.png)">{{build.loadout.talent_1.title}}</li>-->
              <!--<li style="background-image:url(/static/spells/img/{{build.loadout.talent_2.champ_link}}/{{build.loadout.talent_2.spell_link}}.png)">{{build.loadout.talent_2.title}}</li>-->
              <!--<li style="background-image:url(/static/spells/img/{{build.loadout.talent_3.champ_link}}/{{build.loadout.talent_3.spell_link}}.png)">{{build.loadout.talent_3.title}}</li>-->
              <!--<li style="background-image:url(/static/spells/img/{{build.loadout.talent_4.champ_link}}/{{build.loadout.talent_4.spell_link}}.png)">{{build.loadout.talent_4.title}}</li>-->
            </ul>
          </div>
          <div class="card-footer">
            <div class="btn-group float-right">
              <div class="btn btn-sm btn-success"></div>
            </div>
          </div>
        </div>
        {% endfor%}

      </div>
    </div>
  </div>



</div>

{% endblock %}
