#builder .card{
    max-width: 220px;
    min-width: 220px;
    background-color: #f5f2eb;
}
#builder .card:hover{
    transform: scale(1.05);
    z-index: 9;
}
section[talent].selected-true{
    opacity: .5;
}
section[talent].selected-true:hover:after{
    position: absolute;
    top:50%;
    left:33%;
    color: red;
    padding: 8px;
    border-radius:10px;
    background: black;
    content: 'REMOVE';
}
.talent{

}

.card.col{
    padding:0;
    /*border-color: #555;*/
}
.talent .card-title{
    font-size: 1.1rem;
    color: white;
    padding-top: 5px;
}
.talent.is-empty .card-header{
    opacity: .5;
}
.talent .card-header{
    border-radius: 0px;
    background-image: url('/static/brite_builder/img/card-bg.jpg');
    /*background-size: 100%;*/
    background-color: #444;
    background-blend-mode: soft-light;
    border-width: 5px;
    min-height: 150px;
    padding: .75rem .75rem;
    padding-bottom: 5px;

    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.talent .card-header.no-limit-true{
    background-color: rgba(174,144,64, 1);
}
.talent .card-header .badge-light{
 position: absolute;
 bottom: 2rem;
 right: .75rem;
 cursor:pointer;
}
.talent .card-header .badge-dark{
    position: absolute;
    cursor:pointer;
    top: .75rem;
    left: .75rem;
    font-size: .9rem;
    text-transform: uppercase;
}
.talent .card-header .badge-secondary{
 position: absolute;
 top: .75rem;
 cursor:pointer;
 right: .75rem;
}
.talent h6{
    font-size: .8rem;
    /*font-weight: 500;*/
}
.talent p{
    font-size: .8rem;
    margin: 0;
    line-height: 1.3;
}
.talent p em{
    /*text-decoration: underline;*/
    font-style: normal;
    color: #1751a9;
    font-weight: bold;
}
.talent .card-body{
    padding: .5rem;
}
.talent img{
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    width: 101px;
}
.page-content{
    padding-top: 30px;
}
.margin-0{
    margin: 0px !important;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.messages{
    margin: 10px;
}
.messages p {
    margin: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, strong, b{
    font-weight: 700;
}

h2,.h2{
    font-size: 1.75rem;
}
h3,.h3{
    font-size: 1.5rem;
}
h4,.h4{
    font-size: 1.3rem;
}
h5,.h5{
    font-size: 1.2rem;
}
h6,.h6{
    font-size: 1.1rem;
}

@media(max-width:767px){
    .talent img{
        width: 50px;
    }
    .talent .card-header{
        min-height:auto;
    }
    section[talent], div[talent] {
        max-width: initial;
        min-width: auto;
        display: inline-flex;
        margin-bottom: 5px !important;
        width: 100%;
    }
    [ng-controller=loadoutCtrl] div[talent]{
        width: 100%;
        height: auto;
    }
    .card-group{
        display: block;
    }
    .talent p{
        font-size: 1rem;
    }

}