.navbar-dark.bg-dark{
    background-color: #171b15 !important;
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link{
    color: #99b7d4;
}

#builder .card{
    max-width: 220px;
    min-width: 220px;
    background-color: #f5f2eb;
}
#builder .card:hover{
    transform: scale(1.05);
    z-index: 9;
}
section[talent].selected-true{
    opacity: .5;
}
section[talent].selected-true:hover:after{
    position: absolute;
    top:50%;
    left:33%;
    color: red;
    padding: 8px;
    border-radius:10px;
    background: black;
    content: 'REMOVE';
}
.talent{

}

.card.col{
    padding:0;
    /*border-color: #555;*/
}
.talent .card-title{
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    font-family: 'Noto Sans', sans-serif;
}
.talent.is-empty .card-header{
    opacity: .5;
}
.talent .card-header{
    border-radius: 0px;
    background-image: url('/static/brite_builder/img/card-bg.jpg');
    /*background-size: 100%;*/
    background-color: #444;
    background-blend-mode: soft-light;
    border-width: 5px;
    min-height: 150px;
    padding: .75rem .75rem;
    padding-bottom: 0px;

    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.talent .card-header.no-limit-true{
    background-color: rgba(174,144,64, 1);
}
.talent .card-header .badge-light{
 position: absolute;
 bottom: 2rem;
 right: .75rem;
 cursor:pointer;
}
.talent .card-header .badge-dark{
    position: absolute;
    cursor:pointer;
    top: .75rem;
    left: .75rem;
    font-size: .9rem;
    text-transform: uppercase;
}
.talent .card-header .badge-secondary{
 position: absolute;
 top: .75rem;
 cursor:pointer;
 right: .75rem;
}
.talent h6{
    font-size: .8rem;
    /*font-weight: 500;*/
}
.talent p{
    font-size: .8rem;
    margin: 0;
    line-height: 1.3;
}
.talent p em{
    /*text-decoration: underline;*/
    font-style: normal;
    color: #1751a9;
    font-weight: bold;
}
.tooltip .tooltip-inner em{
    color: #99b7d4;
}
.tooltip hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-color:#99b7d4;
}

.tooltip-inner{
    border: 1px solid #99b7d4;
}

.tooltip.bs-tooltip-top .arrow:before{
    border-top-color: #99b7d4;
    /*border-bottom-color: #99b7d4;*/
    /*border-left-color: #99b7d4;*/
    /*border-right-color: #99b7d4;*/
}
.tooltip.bs-tooltip-right .arrow:before{
    /*border-top-color: #99b7d4;*/
    /*border-bottom-color: #99b7d4;*/
    /*border-left-color: #99b7d4;*/
    border-right-color: #99b7d4;
}

.tab-pane{
    border: 1px solid white;
    box-shadow: 0px 0px 15px white;
}

.avatar-circle{
    border: 2px solid black;
    border-radius: 50%;
}

.talent .card-body{
    padding: .5rem;
}
.talent .spell-icon{
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    width: 101px;
    height: 101px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.talent .spell-icon.lmb{
    background-position-x: -546px;
}
.talent .spell-icon.rmb{
    background-position-x: -455px;
}
.talent .spell-icon.q{
    background-position-x: -364px;
}
.talent .spell-icon.e{
    background-position-x: -182px;
}
.talent .spell-icon.r{
    background-position-x: -91px;
}
.talent .spell-icon.f{
    background-position-x: 0px;
}
.page-content{
    padding-top: 30px;
}
.container, .container-fluid{
    /*background-color: rgba(241,255,248,.8);*/
    /*background-color: rgba(205,207,205,.8);*/
    background-color: rgba(202,208,203,.9);
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 30px black;
}

.container .container-fluid{
    box-shadow: none;
}


.margin-0{
    margin: 0px !important;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.margin-top-0{
    margin-top: 0px;
}

.padding-top-0{
    padding-top:0
}
.padding-bottom-0{
    padding-bottom:0
}


.messages{
    margin: 10px;
}
.messages p {
    margin: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url('/static/brite_builder/img/site-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, strong, b{
    /*font-weight: 700;*/
    color: #171b15;
    font-family: 'Bowlby One SC';
}

h2,.h2{
    font-size: 1.75rem;
}
h3,.h3{
    font-size: 1.5rem;
}
h4,.h4{
    font-size: 1.3rem;
}
h5,.h5{
    font-size: 1.2rem;
}
h6,.h6{
    font-size: 1.1rem;
}

.champ-icon{
    margin: 3px;
    display: inline-block;
    width:96px;
    height:49px;
    background-image: url('/static/champs/img/icons/champ-icons.jpg');
    position: relative;

}
.champ-icon:hover, .champ-icon:focus{
    text-decoration: none;
}
.champ-icon:hover:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width:96px;
    height:49px;
    opacity: .4;
    background-color: yellow;
}


.notifyjs-corner{
    top: 60px!important;
}

/*#profile-loadouts*/

.card.mini-loadout{
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
    /*background-color: #f5f2eb;*/
}
.card.mini-loadout .card-title{
    padding-left: 7px;
    padding-right: 7px;
}
.card.mini-loadout .card-body,.card.mini-loadout .card-footer{
    padding: .3rem;
}

/*melee*/
.card.mini-loadout.champ-type-0{
    border-color: #512020;
    box-shadow: 0 0 15px #512020;
    background-color: #fdeaea;
}
.card.mini-loadout.champ-type-0 h4, .card.mini-loadout.champ-type-0 h6 {
    color:#512020;
}
/*ranged*/
.card.mini-loadout.champ-type-1{
    border-color: #325120;
    box-shadow: 0 0 15px #325120;
    background-color: #effdea;
}
.card.mini-loadout.champ-type-1 h4, .card.mini-loadout.champ-type-1 h6 {
    color:#325120;
}
/*support*/
.card.mini-loadout.champ-type-2{
    border-color: #203a51;
    box-shadow: 0 0 15px #203a51;
    background-color: #eaf3fd;
}
.card.mini-loadout.champ-type-2 h4, .card.mini-loadout.champ-type-2 h6 {
    color:#203a51;
}

@media (min-width:576px){
    #profile-loadouts{
        max-height: 80vh;
        overflow-y: scroll;
    }

}
#profile-loadouts .battlerites{
    list-style: none;
    padding:0;
    margin:0;
}
.btn{
    cursor:pointer;
}

#profile-loadouts .battlerites li{
    cursor: pointer;
    position: relative;
    position: relative;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #171b15;
    /*font-weight: bold;*/
    color: white;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
}

#profile-loadouts .battlerites li:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*border-top: 1px solid #99b7d4;*/
    /*border-bottom: 1px solid #99b7d4;*/

}

#profile-loadouts .battlerites li:hover .title{
    background-color: rgba(0,0,0,.9);
}


#profile-loadouts .battlerites li .title{
    background-color: rgba(0,0,0,.4);
    padding: 7px;
    display: inline-block;
    line-height: 1;
}
#profile-loadouts .battlerites li .badge-light{
    margin-top: 7px;
    position: absolute;
    z-index: 9;
    right: 7px;
    top: 7px;
}


.hidden-copy-button{
    position:absolute;
    top:0;
    left: -9999%;
}
.card .badge{
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.badge{
    cursor: pointer;
}




/*MOBILE ----------------------- */

@media(max-width:576px){
    .talent .card-header{
        min-height:auto;
    }
    section[talent], div[talent] {
        max-width: initial;
        min-width: auto;
        display: inline-flex;
        requestottom: 5px !important;
        width: 100%;
    }
    [ng-controller=loadoutCtrl] div[talent]{
        width: 100%;
        height: auto;
    }
    .card-group{
        display: block;
    }
    .talent p{
        font-size: 1rem;
    }
    .container .container-fluid{
        padding:0;
    }

}
/* large*/
@media(max-width:991px){
  .card.mini-loadout{
      flex: 0 0 calc(33% - 10px);
  }
}
/*MEDIUM*/
@media(max-width:767px){
  .card.mini-loadout{
      flex: 0 0 calc(50% - 10px);
  }
}


/* champ_icons*/
.champ-icon.rook{
    background-position-x: 0;
    background-position-y: calc(-49px*0);
}
.champ-icon.raigon{
    background-position-x: 0;
    background-position-y: calc(-49px*1);
}
.champ-icon.jade{
    background-position-x: 0;
    background-position-y: calc(-49px*2);
}
.champ-icon.jumong{
    background-position-x: 0;
    background-position-y: calc(-49px*3);
}
.champ-icon.lucie{
    background-position-x: 0px;
    background-position-y: calc(-49px*4);
}
.champ-icon.pestilus{
    background-position-x: 0px;
    background-position-y: calc(-49px*5);
}
/**/
.champ-icon.ruh-kaan{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*0);
}
.champ-icon.freya{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*1);
}
.champ-icon.ashka{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*2);
}
.champ-icon.iva{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*3);
}
.champ-icon.sirius{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*4);
}
.champ-icon.oldur{
    background-position-x: calc((-97px) * 1);
    background-position-y: calc(-49px*5);
}
/**/
.champ-icon.shifu{
    background-position-x: -193px;
    background-position-y: calc(-49px*0);
}
.champ-icon.croak {
    background-position-x: -193px;
    background-position-y: calc(-49px*1);
}
.champ-icon.varesh{
    background-position-x: -193px;
    background-position-y: calc(-49px*2);
}
.champ-icon.destiny{
    background-position-x: -289px;
    background-position-y: calc(-49px*3);
}
.champ-icon.taya{
    background-position-x: -193px;
    background-position-y: calc(-49px*3);
}
.champ-icon.poloma{
    background-position-x: -193px;
    background-position-y: calc(-49px*4);
}
.champ-icon.pearl{
    background-position-x: -193px;
    background-position-y: calc(-49px*5);
}
/**/
.champ-icon.bakko{
    background-position-x: -289px;
    background-position-y: calc(-49px*0);
}
.champ-icon.thorn{
    background-position-x: -289px;
    background-position-y: calc(-49px*1);
}
.champ-icon.ezmo{
    background-position-x: -289px;
    background-position-y: calc(-49px*2);
}
.champ-icon.blossom{
    background-position-x: -289px;
    background-position-y: calc(-49px*4);
}



/*talent_types ---------------------------------------- generated*/

.talent.survival .spell-icon, .talent.survival .card-header .badge-dark{
    background-color: #7ad217;
    border-color: #7ad217;
}
.talent.survival .card-header{
    border-color: #7ad217;
}
.talent.survival .badge-secondary{
    background-color: #7ad217;
    border-color: #7ad217;
}
#profile-loadouts .battlerites li.survival{
    border-left: 10px solid #7ad217;
    background-color: #2e3c1f;
}
.talent.mixed .spell-icon, .talent.mixed .card-header .badge-dark{
    background-color: #96bebc;
    border-color: #96bebc;
}
.talent.mixed .card-header{
    border-color: #96bebc;
}
.talent.mixed .badge-secondary{
    background-color: #96bebc;
    border-color: #96bebc;
}
#profile-loadouts .battlerites li.mixed{
    border-left: 10px solid #96bebc;
    background-color: #202626;
}
.talent.support .spell-icon, .talent.support .card-header .badge-dark{
    background-color: #30bcb0;
    border-color: #30bcb0;
}
.talent.support .card-header{
    border-color: #30bcb0;
}
.talent.support .badge-secondary{
    background-color: #30bcb0;
    border-color: #30bcb0;
}
#profile-loadouts .battlerites li.support{
    border-left: 10px solid #30bcb0;
    background-color: #002a26;
}
.talent.offense .spell-icon, .talent.offense .card-header .badge-dark{
    background-color: #ff2a1c;
    border-color: #ff2a1c;
}
.talent.offense .card-header{
    border-color: #ff2a1c;
}
.talent.offense .badge-secondary{
    background-color: #ff2a1c;
    border-color: #ff2a1c;
}
#profile-loadouts .battlerites li.offense{
    border-left: 10px solid #ff2a1c;
    background-color: #130100;
}
.talent.mobility .spell-icon, .talent.mobility .card-header .badge-dark{
    background-color: #ffb800;
    border-color: #ffb800;
}
.talent.mobility .card-header{
    border-color: #ffb800;
}
.talent.mobility .badge-secondary{
    background-color: #ffb800;
    border-color: #ffb800;
}
#profile-loadouts .battlerites li.mobility{
    border-left: 10px solid #ffb800;
    background-color: #231900;
}
.talent.control .spell-icon, .talent.control .card-header .badge-dark{
    background-color: #ff4fce;
    border-color: #ff4fce;
}
.talent.control .card-header{
    border-color: #ff4fce;
}
.talent.control .badge-secondary{
    background-color: #ff4fce;
    border-color: #ff4fce;
}
#profile-loadouts .battlerites li.control{
    border-left: 10px solid #ff4fce;
    background-color: #1b0916;
}
.talent.utility .spell-icon, .talent.utility .card-header .badge-dark{
    background-color: #067ed6;
    border-color: #067ed6;
}
.talent.utility .card-header{
    border-color: #067ed6;
}
.talent.utility .badge-secondary{
    background-color: #067ed6;
    border-color: #067ed6;
}
#profile-loadouts .battlerites li.utility{
    border-left: 10px solid #067ed6;
    background-color: #010f19;
}
/*end talent types*/