.talent{
    
}

.talent img{
    border-width: 7px;
    border-style: solid;
    border-radius: 50%;
}

.page-content{
    padding-top: 30px;
}

.margin-bottom-0{
    margin-bottom: 0px;
}
.messages{
    margin: 10px;
}

.messages p {
    margin: 0;
}