{% extends 'site/base.html' %}

{% block content %}

<div class="container">
  
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Forgot Password
        </h3>
    </div>
    <form method="post">
    <div class="card-body">
      {% csrf_token %}
      
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" required id="email">
      </div>
      
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-lg float-right">Submit</button>
      <div class="clearfix"></div>
    </div>
    </form>
  </div>

</div>
{% endblock %}