{% extends 'site/base.html' %}
{% block content %}
<div class="container">


    <div class="card">
        <div class="card-header">
            <h1 class="card-title margin-0">
                Register at Counter.GG
            </h1>
        </div>
        <form method="POST">
            <div class="card-body">
                <div class="alert alert-primary">
                    <strong>
                        You don't HAVE to register to use Counter.GG.
                    </strong>
                    <br>
                    Registering lets you:

                        <ul class="margin-bottom-0">
                            <li>
                                Save any build to your profile to revisit later.
                            </li>
                            <li>
                                 Save/share BuildSets - A BuildSet is a collection of loadouts that can be shared as one link.
                            </li>
                        </ul>

                </div>
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control {% if form.errors.username %} is-invalid {% endif %}"
                        name="username"
                        {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
                        maxlength="{{ form.username.field.max_length }}"
                        {% if form.username.field.required %}required{% endif %}
                        placeholder="Username">
                    {% if form.errors.username %}
                    {% for error in form.errors.username %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email"
                        class="form-control {% if form.errors.email %} is-invalid {% endif %}" name="email"
                        {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                        maxlength="{{ form.email.field.max_length }}"
                        {% if form.email.field.required %}required{% endif %}
                        placeholder="Email">
                    {% if form.errors.email %}
                    {% for error in form.errors.email %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" id="password1"
                        class="form-control {% if form.errors.password1 %} is-invalid {% endif %}"
                        name="password1"
                       {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                       maxlength="{{ form.password1.field.max_length }}"
                       {% if form.password1.field.required %}required{% endif %}
                       placeholder="Password">
                    {% if form.errors.password1 %}
                    {% for error in form.errors.password1 %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password2">Password Confirm</label>
                    <input type="password" id="password2"
                    class="form-control {% if form.errors.password2 %} is-invalid {% endif %}" name="password2"
                    {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                    maxlength="{{ form.password2.field.max_length }}"
                    {% if form.password2.field.required %}required{% endif %}
                    placeholder="Confirm">
                    {% if form.errors.password2 %}
                    {% for error in form.errors.password2 %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="form-control {% if form.errors.captcha %} is-invalid {% endif %}">
                        {{form.captcha}}
                    </div>
                    {% if form.errors.captcha %}
                    {% for error in form.errors.captcha %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    &nbsp;
                    <strong>
                        We don't do anything with your data.
                    </strong>
                    We just use your email address to recover your password1.
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-lg btn-success float-right">Register</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>




    </div>
{% endblock %}
