{% load static %}
<!doctype html>
<html class="no-js" lang="">
  {% include 'site/_head.html' %}
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include 'site/_header.html' %}    
    <div class="container page-content">
      
      
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Register at Counter.GG
            </h3>
        </div>
        <form method="POST">
            <div class="card-body">
                <div class="alert alert-primary">
                    <strong>
                        You dont HAVE to register to use Counter.GG. 
                    </strong>
                    <br>
                        Registering an account on Counter.GG gives you the power to:
                        <ul class="margin-bottom-0">
                            <li>
                                Save your/others' builds to your profile to revisit later.        
                            </li>
                            <li>
                                 Save/share BuildSets - A BuildSet is a collection of builds that can be shared as one link.             
                            </li>
                        </ul>
                        
                </div>
                
                

                
                {% csrf_token %}
                <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control {% if form.errors.username %} is-invalid {% endif %}" name="username" value="{{form.username.value}}" placeholder="Username">
                        {% if form.errors.username %}
                            {% for error in form.errors.username %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            {% endfor%}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control {% if form.errors.email %} is-invalid {% endif %}" name="email" value="{{form.email.value}}" placeholder="Email">
                        {% if form.errors.username %}
                            {% for error in form.errors.email %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            {% endfor%}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control {% if form.errors.password %} is-invalid {% endif %}" name="password" value="{{form.password.value}}" placeholder="Password">
                        {% if form.errors.password %}
                            {% for error in form.errors.password %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            {% endfor%}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" id="confirm" class="form-control {% if form.errors.confirm %} is-invalid {% endif %}" name="confirm" value="{{form.confirm.value}}" placeholder="Confirm Password">
                        {% if form.errors.confirm %}
                            {% for error in form.errors.confirm %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            {% endfor%}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="form-control {% if form.errors.confirm %} is-invalid {% endif %}">
                            {{form.captcha}}
                        </div>
                        {% if form.errors.captcha %}
                        {% for error in form.errors.captcha %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                        {% endfor%}
                        {% endif %}
                        
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        &nbsp;
                        <strong>
                            We dont do anything with your data.
                        </strong> 
                        We just use your email address to recover your password.
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-lg btn-success float-right">Register</button>
                {% if error %}
                <div class="alert alert-danger float-left margin-bottom-0">
                    {{error}}
                </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
          
      
      
      
    </div>
  {% include 'site/_foot.html' %}        
  </body>
</html>